@import '../../index.scss';


.about_container {
    text-align: center;

    .about_container .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_img {
        margin: auto;
        height: 250px;
    }

    .about_data {
        width: 60%;
        margin: auto;
        padding: 1.875rem;
        background-color: $container-Color01;
        box-shadow: $shadow;
        border-radius: $border-radius;
        column-gap: 1.875rem;
        align-items: center;
        

        .about_description{
            margin-bottom: 1rem;
            text-align: center;
        }

        .about_info {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    }
}






