@import '../../index.scss';


.active_nav_bar {
        left: 0;
        transition: all 1s;
}


aside {
    position:fixed;
    left: -95px;
    top: 0;
    background-color: $container-Color;
    border-right: 1px solid rgba(0,0,0,0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: all 1s;
    border-radius: 1px 200px 1px 1px;


     .nav_arrow {
        position: absolute;
        top: 45%;
        right: -25px;
        font-size: 25px;
        cursor: pointer;
        border: 1px solid white;
        transition: all 1s;
    }

    .rotArrow {
        transform: rotate(180deg);
    }

   

    .nav_name {
        
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .nav_menu {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        
    }
    
    .nav_list {
        display: flex;
        
        height: 70%;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .nav_link {
    font-size: 1.5rem;
    color: $title-Color;
    font-weight: $font-bold;
    transition: .3s;

    &:hover {
        color: hsl(43, 100%, 68%);
    }
}


}


