@import '../../index.scss';

aside {
    position:fixed;
    left: 0;
    top: 0;
    background-color: $body-Color;
    border-right: 1px solid rgba(0,0,0,0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    .nav_name {
        
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .nav_menu {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        
    }
    
    .nav_list {
        display: flex;
        
        height: 70%;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .nav_link {
    font-size: 1.5rem;
    color: $title-Color;
    font-weight: $font-bold;
    transition: .3s;

    &:hover {
        color: hsl(43, 100%, 68%);
    }
}


}


